@use '../base/variables' as v;
@use '../base/mixins' as m;

.contenedor-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .imagen {
        height: 30rem;
        background-image: url('../img/1.jpg');
        background-size: cover;
        background-position: center center;

        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 100%;
        margin: 0 auto;
        padding: 3rem;

        @include m.tablet {
            overflow: auto;

            // desaparecer la barra
            &::-webkit-scrollbar {
                display: none;
                // background: transparent;
                // width: 0;
            }
        }
    }

    .barra {
        
        p {
            text-align: center;
        }

        .icon {
            display: none;
        }

        .boton {
            @include m.boton(v.$negro, v.$blanco);
            
            &{margin: 0};
            &{border: 1px solid v.$azul};
        }

        @include m.tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}